- var p = dreamlifeofdriverlesscars
header
  +navigation--mobile()
+navigation--desktop()
+pageHero(true, p.body, p.images.hero, "vimeo")
  +addTags(p.meta.tags, "hero")
+section
  +block
    p The Dreamlife of Driverless Cars weaves a 3D laser scanner through the streets of London in search of how driverless vehicles might perceive - and misperceive - the world.
    p As the scanner moves through the city, slowing for speed bumps and stopping in traffic, the city map created warps and extends depending on the speed at which we move. Stuck in traffic a routemaster bus becomes an elongated, narrow corridor, broken only by the shadow of a passing cyclist. Turning the corner into parliament square duplicates Big Ben as we observe the tower for a second time.
    p The Dreamlife of Driverless Cars was originally published in the New York Times Magazine (print + web) as images and a short film.

+insertFigures([
  {src: "NYT_01.jpg", alt: p.meta.title},
  {src: "NYT_04.jpg", alt: p.meta.title },
  {src: "NYT_09.jpg", alt: p.meta.title },
  {src: "NYT_08.jpg", alt: p.meta.title },
  {src: "NYT_07.jpg", alt: p.meta.title }
])

+section
  +projects-link("is-centred")