/**
 * Transitions
 */

[v-cloak]
  display none

.animated
  animation-duration _speed--std

/**
 * Animations
 */
.transition-block
  transition none !important

anim(specific = all, speed = _speed)
  transition specific speed