/**
* Colour variables
*/


$red = red
$grey = #777
$grey2 = #666
$grey--mid = #aaa
$grey--soft = #cfcfcf
$black = #000
$white = #fff
$orange = #ef6006
$blue = #4577b5


$background = $white
$font = $grey

// $link = $orange
$link = $grey
$linkover = pink

$ghostnight = rgba(0,0,0,.85)
$ghostdark = rgba(0,0,0,.5)
$ghostlight = rgba(0,0,0,.25)

$alphawhite = rgba(255,255,255,.3)
/**
 * states
 */

$invalid = red