@font-face 
  font-family _fontfamily--base
  src url(_fontsource + _fontfamily--base + '.eot')
  src url(_fontsource + _fontfamily--base + '.woff') format('woff'), url(_fontsource + _fontfamily--base + '.ttf') format('truetype'), url(_fontsource + _fontfamily--base + '.svg') format('svg')
  font-weight normal
  font-style normal
@font-face 
  font-family _fontfamily--head
  src url(_fontsource + _fontfamily--head + '.eot')
  src url(_fontsource + _fontfamily--head + '.woff') format('woff'), url(_fontsource + _fontfamily--head + '.ttf') format('truetype'), url(_fontsource + _fontfamily--head + '.svg') format('svg')
  font-weight normal
  font-style norma

.fa 
  display inline-block
  font normal normal normal 14px/1 FontAwesome
  font-size inherit
  text-rendering auto