/**
 * Config
 */

_body-width = 768px
_view-width = 1180px
_img-ratio = .52//.417
_inline-ratio = .52
_img-height = _view-width * _img-ratio//543px 
_pad = 2em
_pad2 = 4em


_gap = 6em
_end = 10em
_block = 4em

/**
 * dir
 */

_fontsource = '/assets/font/'
/**
 * fonts
 */
_fontfamily--base = 'ProximaNova-Light'
_fontfamily--head = 'ProximaNova-Semibold'

_fs-widescreen = 21px
_fs-desktop = 19px
_fs-tablet = 18px
_fs-mobile = 16px

_fs--base = 19px
_fs--large = 1.2rem
_fs--std = 1rem
_fs--small = .85rem
_fs--xsmall = .7em

_h1 = 2em
/**
 * anim
 */

_speed = .3s
_speed--fast = .2s ease-out
_speed--std = .4s
_speed--slow = 1s

/**
 * Z-index's
 */

_z_nav = 10
_z_alert = 100

/**
 * borders and finite styling
 */

_radius = 7px
_border--link = 5px