/**
 * Parent Containers for wrappers and top level layout control
 */
flexi-width(max = _body-width)
  display flex
  justify-content center
  .content
    max-width max
    width 100%

section
  margin-top _gap
  +mobile()
    margin-top _pad2

nav[role="desktop"] + section
  margin-top 0

.block-step--foot
  width 100%
  height _end 

section
  .layout
    .content
      header
        margin-top 0
      header + .body
        margin-top _block

section[role="text"], section[role="text-wide"]
  .layout
    flexi-width(_body-width)
    +notebook()
      .content
        padding 0 _pad2

section[role="spa"]
  .layout
    flexi-width(_body-width)
    margin 25vh 0
    +notebook()
      .content
        padding 0 _pad2

section[role="text-wide"]
  .layout
    flexi-width(_view-width)
    +desktop()
      .content
        padding 0 _pad2

section[role="images"], section[role="banners"]
  .layout
    flexi-width(_view-width)
    .body
      figure
        +figure(_img-height)
          &.is-inline
            position relative
            display inline-block
            width calc(50% - 2em)
            background-color black
            background-size contain          
            &:nth-child(even)
              margin-left _pad
            &:nth-child(odd)
              margin-right _pad
            +mobile()
              width 100%
              display block
              &:nth-child(even)
                margin-left 0
              &:nth-child(odd)
                margin-right 0
          &.is-default
            min-height 0
            height "calc(50vw * %s)" % _inline-ratio
            max-height "calc(%s / %s * %s)" % (_view-width 2 _inline-ratio)
            +mobile()
              min-height 50vh
          &.is-square
            max-height calc(1180px / 2 - 2em)
        &:last-child
          .img-item
            margin-bottom 0
            +mobile()
              &.is-inline
                margin-bottom 4em
                &:nth-child(even)
                  margin-bottom 0
