+nav
+hero(root.hero, "vimeo")

+section
  +block("header")
    +strike("Dummy Content testing")
  +block
    p Donec nibh ipsum, euismod in mauris sit amet, Lorem ipsum dolor sit met, consectetur adipiscing elit.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis in magna eget eleifend. Nullam auctor sed quam sed pellentesque. Nulla lobortis cursus fringilla. Morbi ullamcorper orci diam, a mollis lacus ornare quis. Sed in massa id lacus interdum malesuada. Nam accumsan tincidunt diam vel vehicula. Maecenas ac quam pharetra, tristique elit et, consequat metus. In quis augue rutrum, efficitur tortor in, ullamcorper lectus. Donec elementum mauris sed leo sollicitudin cursus.
    p Donec vel est vel ante imperdiet pulvinar ut suscipit purus. Donec nibh ipsum, euismod in mauris sit amet, pellentesque pharetra metus. Nam eleifend dui magna, malesuada imperdiet tellus pulvinar vel. Vestibulum nec ante sed diam vehicula vestibulum in eget ante. Vivamus nec diam tellus. Nam ultricies venenatis enim ac tristique. Nullam posuere lorem sed faucibus ultrices.